@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(250, 243, 243, 0);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: rgb(255, 0, 0);
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.spacer {
  height: 1200px;
}

.spacer2 {
  height: 800px;
}
.spacer3 {
  height: 1200px;
}

h1 {
  
  color: rgb(42, 112, 42);
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2, blockquote {
  
  color: rgb(25, 0, 255);
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;

}

h3 {  color: rgb(255, 208, 0);
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;}

h4  {
  color: rgb(255, 255, 255);
  font-family: elevon, sans-serif;
  font-weight: 1000;
  font-style: normal;}



canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 4;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / span 4;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }




  .left {
    grid-column:  6 / 12;
  }